<phpunit
        bootstrap="vendor/autoload.php"
        backupGlobals="false"
        colors="true"
        beStrictAboutResourceUsageDuringSmallTests="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestSize="true"
        beStrictAboutChangesToGlobalState="true">
    <testsuites>
        <testsuite name="finderKata">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
